[submodule "docker/aws_deep_learning_container"]
	path = docker/aws_deep_learning_container
	url = git@github.com:aws/deep-learning-containers.git
[submodule "transformers"]
	path = transformers
	url = git@github.com:huggingface/transformers.git
